<p id="notice"><%= notice %></p>
<%= link_to 'Preferred Shops', preferred_path%>
<h1>Shops</h1>


    <% @shops.each do |shop| %>
      
     
          <tr>
            <td><%= shop.name %></td>
            <td><%= shop.distance %></td>
            <td><%= image_tag(shop.shop_image.url)  %></td>
            <td><%= button_to 'like', like_shop_path(shop), method: :put, remote: true, class: 'button is-light is-small is-primary' %></td>
            <td><%= button_to 'dislike', unlike_shop_path(shop), method: :put , remote: true, class: 'button is-light is-small is-danger' %></td>
          </tr>
       
          
    <% end %>


<br>

<%= link_to 'New Shop', new_shop_path %>

